* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#restart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 3rem;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
#flap {
    display: none;
}
@media (max-width: 500px) {
    #flap {
        display: block;
        position: absolute;
        left: 50%;
        top: 710px;
        transform: translateX(-50%);
        border: none;
        outline: none;
        padding:0.5rem 1rem;
        color: #fff;
        font-size: 1rem;
        background-color: #ffd452;
        border-radius: 5px;
    }
}
